.booking-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0f172a,
    #1e3a8a,
    #2563eb
  );
}

.booking-card {
  width: 450px;
  padding: 35px;
  border-radius: 20px;

  background: rgba(255,255,255,0.15);

  backdrop-filter: blur(12px);

  box-shadow: 0 8px 30px rgba(0,0,0,0.3);
}

.booking-card h1 {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.booking-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-card input,
.booking-card textarea {
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.booking-card button {
  padding: 14px;
  border: none;
  border-radius: 10px;

  background: #facc15;
  color: black;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.booking-card button:hover {
  transform: scale(1.05);
}